.MuiPaper-root{
    max-width: fit-content !important;
    width: fit-content !important;
    overflow-y: none;
    height: fit-content !important;
}

@media screen and (max-width:320px) {
    .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
        padding: 0;
        margin: 0;
        width: 320px;
    }
    
    header{
        width: 320px !important;
        padding: 0 !important;
    }
    
}
